<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h4>History Day</h4>
        <h3>The Post Office</h3>
      </header>
      <div class="page-content">
        <p>Presented by: Tom Swanson</p>
        <div class="history-day-navigation">
          <a [routerLink]="['/history-day']" class="my-btn">&lt; Start</a>
          <a [routerLink]="['/history-day/quilting-and-spinning']" class="my-btn">Quilting and Spinning &gt;</a>
        </div>
        <div class="iframe-container">
          <iframe class="responsive-iframe" src="https://www.youtube.com/embed/L_C8svTrSv0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
