<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Grant Info</h3>
      </header>
      <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px;">
        <img style="max-height: 200px;" class="img-responsive" src="assets/img/nchs.png" />
        <img style="max-height: 200px;" class="img-responsive" src="assets/img/taf.png" />
      </div>
      <div style="color: black; text-align: center;">
        <p>The following projects were made possible through generous grants from <b>North Central Health Services
            (NCHS)</b> administered by <a href="https://tippecanoearts.org/" target="_blank"><b>Tippecanoe Arts
              Federation (TAF)</b></a>.
        </p>
        <h1>2019</h1>
        <ul style="list-style: none; padding: 0">
          <li>Finalized electrical upgrades throughout the showgrounds</li>
          <li>Added new concrete porch to the Quilter's building</li>
          <li>Moved and restored government grain bin to house grain museum</li>
          <li>Installed waterline from well to outdoor pavilion</li>
        </ul>
        <h1>2018</h1>
        <ul style="list-style: none; padding: 0">
          <li>Purchased 100 banquet chairs</li>
          <li>Started electrical upgrades throughout the showgrounds</li>
          <li>Extended fireplace chimney in Assembly Hall</li>
          <li>Added concrete under railroad tracks at main entrance</li>
          <li>Replaced 4,000 railroad ties</li>
        </ul>
      </div>
    </div>
  </section>
</main>
