<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>A Letter From Our President</h3>
      </header>
      <div class="page-content">
        <h3><b>September 2020</b></h3>
        <p>
          Hello to everyone,
          <br><br>
          September has really been a whirlwind, it seems.
          <br><br>
          Thanks to Joan Fry, Dave Sims, & David Hobbs, Illiana History Day is going to be, I believe, a
          huge success.
          David Hobbs filmed & recorded everything live and will spend many hours editing, with the
          finished production
          being distributed to the teachers and also put on our own website so it is available to us as
          well.
          <br><br>
          The weather was beautiful and thanks to the mowing crew, the grounds looked immaculate.
          <br><br>
          I want to thank each and every one who came and talked, demonstrated, etc., all the various
          activities that we present at Illiana.
          <br><br>
          I sowed the wheat last week. Thanks to Chad Hasser for the use of his equipment to get this
          done.
          <br><br>
          Thanks goes to Jeff Troike and Boswell Ceres for donating the wheat fertilizer and to Tony
          Martin of Martin Seeds in Pence for the seed wheat.
          <br><br>
          Gary Jones has donated a John Deere 290 planter with manual to Illiana to be sold, with proceeds
          going to the building fund. This planter needs seed and fertilizer boxes plus tires, as it has
          set outside, but it would be a good restoration project. If interested, send written offers to
          me before November 1st and the winning bidder can get it. The seed box lids are good and also
          have extra rims for tires and new marker chain.
          <br><br>
          Leo Mann of Otterbein has donated all of his Dad’s (Leonard Mann) books to be sold, with the
          proceeds to also go toward the building fund. Lots of good books of railroading and steam
          engines, and others. Call me if interested.
          <br><br>
          Thanks to Gary and Leo for these donations.
          <br><br>
        </p>
        <p>
          The board of directors will be meeting in October to make a decision about Christmas in the
          Village for 2020.
          <br><br>
          Tetia Lee of TAF has notified us that we will not be receiving grant money for 2021. However,
          thanks to information from Michelle Stucky of Warren Co. Comm. Foundation, Brooke has applied
          for a small grant from Indiana Art Commission to possibly help us pay some of our operating
          expenses this year due to not having our show.
          <br><br>
          Last, I would be remiss if I didn’t thank Dave Sims for bringing Henrietta, Rue, and Dumb &
          Dumber to History Day on Friday. We enjoyed having them and invite them back anytime. Let Dave
          explain this to you!
          <br><br>
        </p>
        <p>
          Everyone be safe and stay well,
          <br><br>
          <b>Tom</b>
        </p>
      </div>
    </div>
  </section>
</main>
