<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Fall Festival</h3>
      </header>
      <div class="page-content">
        <h2><b>Saturday, September 23, 2023</b></h2>
        <h2>9:00 AM - 4:00 PM</h2>
        <div class="showcase pb-5">
          <a href="assets/flyers/Fall-Festival-2023.jpg">
            <div class="showcase-img">
              <img
                class="box-shadow"
                src="assets/flyers/Fall-Festival-2023.jpg"
              />
            </div>
          </a>
        </div>
        <div class="row justify-content-center pb-2">
          <a href="assets/flyers/Fall-Festival-2023.jpg" class="my-btn"
            >View the Flyer</a
          >
        </div>
        <br />
        <p>
          We are hosting our third Fall Festival: Swap Meet and Craft Fair! It
          will be held on the club grounds. Vendors of arts & crafts, antiques,
          repurposed furniture, direct sales, swap meet (rusty gold), any type
          of crafty art are welcome! No flea market items!
        </p>
        <p>
          This year we have events planned for children's activities, painting
          classes, and a decorating workshop.
        </p>
        <p>
          There will be a Bake Sale by Illiana club members, and as always, food
          vendors!
        </p>
        <p>
          Two classes will also be available: Wreath-Making and Barn Quilts. The
          wreath class is $35 with 2 colors to choose from. The barn quilt class
          is $30 with 3 designs to choose from and a variety of paint colors. See photos below for available designs!
          For those interested in participaing, please sign up by emailing Kathy Kyle at
          <a href="mailto:iapafallfestival@gmail.com"
          >iapafallfestival@gmail.com</a
          > and let her know which design you would like to make. Thank you!
        </p>
        <p>Come join us for a fun-filled day!</p>
        <h2><b>Vendors</b></h2>
        <p>
          If you are interested in participating as a vendor, please complete
          the form below.
        </p>
        <a
          href="assets/flyers/IAPA Fall Festival Vendor Application 2023.docx"
          class="my-btn mb-5"
          >Vendor Application</a
        >
        <h2><b>Contact</b></h2>
        <p class="mb-3">
          For questions around vendors, camping, and the swap meet, please see
          our Contact page.
        </p>
        <a routerLink="/contact" class="my-btn">Contact Us</a>
        <br />
        <br />
      </div>
      <div>
        <h3>Photos</h3>
        <app-images [images]="images"></app-images>
      </div>
    </div>
  </section>
</main>
