<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Fall Festival</h3>
      </header>
      <div class="page-content">
        <h2><b>Saturday, September 17, 2022</b></h2>
        <h2>9:00 AM - 4:00 PM</h2>
        <h2>Showgrounds</h2>
        <div class="showcase pb-5">
          <a href="assets/flyers/Fall-Festival-2022.jpg">
            <div class="showcase-img">
              <img class="box-shadow" src="assets/flyers/Fall-Festival-2022.jpg" />
            </div>
          </a>
        </div>
        <div class="row justify-content-center pb-2">
          <a href="assets/flyers/Fall-Festival-2022.jpg" class="my-btn">View the Flyer</a>
        </div>
        <br>
        <p>
          We are hosting our second Fall Festival: Swap Meet and Craft Fair!
          It will be held on the club grounds. Crafters featuring quality homemade items are welcome, along with old
          iron enthusiasts, engine swappers, and train collectors.
          The grounds are tree covered with ample parking. Food vendors will be on the grounds.
          Come join us for a fun-filled day!
        </p>
        <h2><b>Vendors</b></h2>
        <p>If you are interested in participating as a vendor, please complete the form below.</p>
        <a href="assets/flyers/IAPA Fall Festival Vendor Application 2022.docx" class="my-btn">Vendor Application</a>
        <br>
        <br>
        <h2><b>Contact</b></h2>
        <h4 style="font-weight: 500">Crafts & General Information</h4>
        <p style="margin-bottom: 10px">Kathy Kyle</p>
        <p style="margin-bottom: 10px">(&#050;&#049;&#055;)&#032;&#051;&#048;&#052;&#045;&#054;&#053;&#054;&#049;</p>
        <p style="margin-bottom: 10px"><a href="mailto:iapafallfestival@gmail.com">iapafallfestival@gmail.com</a></p>
		<br>
        <h4 style="font-weight: 500">Swap Meet</h4>
        <p style="margin-bottom: 10px">Shawn Byroad</p>
        <p style="margin-bottom: 10px">(&#055;&#054;&#053;)&#032;&#052;&#057;&#048;&#045;&#056;&#052;&#055;&#048;</p>
		<br>
        <h4 style="font-weight: 500">Camping</h4>
        <p style="margin-bottom: 10px">Adam Krichbaum</p>
        <p style="margin-bottom: 10px"><a href="mailto:illianacamping@gmail.com">illianacamping@gmail.com</a></p>
        <br>
        <br>
        <app-images [images]="images"></app-images>
        <br>
      </div>
    </div>
  </section>
</main>
