<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Related Links</h3>
        <p>Note: these websites are not operated by the Illiana Antique Power Association.</p>
      </header>
      <div class="page-content">
        <a href="http://www.atis.net/" target="_blank">
          <h3>Antique Tractor Internet Service</h3>
        </a>
        <a href="http://antiquetractors.com/" target="_blank">
          <h3>Antique Tractor Resources</h3>
        </a>
        <a href="http://www.caseheritage.org/" target="_blank">
          <h3>J.I. Case Heritage Foundation</h3>
        </a>
        <a href="http://www.jicasecollector.com/" target="_blank">
          <h3>J.I. Case Collectors Association</h3>
        </a>
        <a href="http://www.gasenginemagazine.com/" target="_blank">
          <h3>Gas Engine Magazine</h3>
        </a>
        <a href="http://www.ford-fordson.org/" target="_blank">
          <h3>Ford and Fordson Collectors</h3>
        </a>
        <a href="http://www.nationalihcollectors.com/" target="_blank">
          <h3>Internation Harvester Collectors</h3>
        </a>
        <a href="http://www.minneapolismolinecollectors.org/" target="_blank">
          <h3>Minneapolis Moline Collectors</h3>
        </a>
        <a href="http://www.hartparroliver.org/" target="_blank">
          <h3>Oliver Colletors</h3>
        </a>
        <a href="http://www.smokstak.com/" target="_blank">
          <h3>Smokstak</h3>
        </a>
        <a href="http://www.oldengine.org/members/sbarr/" target="_blank">
          <h3>Steve Barr's Home Page</h3>
        </a>
        <a href="http://www.fairweatherfoundry.com/" target="_blank">
          <h3>Fairweather Foundry</h3>
        </a>
        <a href="http://www.kestersoldtimecollectables.com/main.html?src=%2F" target="_blank">
          <h3>Kester's Old Time Collectibles</h3>
        </a>
      </div>
    </div>
  </section>
</main>
