<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Show Information</h3>
      </header>
      <div style="color: black; text-align: center;">
        <h1>39th Annual Antique Power Exhibition</h1>
        <h2><b>Important Update</b></h2>
        <p>Due to the continuous onset of the coronavirus, the Illiana Board of Directors and members have decided to
          cancel the 39th Annual Antique Power Show that was scheduled for July 17-19, 2020.
          Tentatively, the show may be held along with the first Fall Festival/Swap Meet that is planned for September.
          We hope you all stay safe during this time. As always, this website will post new updates as they become
          available.
          Thank you.
        </p>
        <a [routerLink]="['/pictures']" class="my-btn">View Show Photos</a>
      </div>
    </div>
  </section>
</main>