<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Show Information</h3>
      </header>
      <div class="page-content show-info">
        <div class="show-header">
          <h1>39th Annual Antique Power Exhibition</h1>
          <h2><b>Friday, July 16th - Sunday, July 18th, 2021</b></h2>
          <h2>Featuring: J.I. Case Tractors & Ohio MFG. Engines</h2>
        </div>
        <div class="showcase pb-5">
          <div class="showcase-img">
            <img class="box-shadow" src="assets/img/show/ji-case.jpg" />
          </div>
          <a href="assets/flyers/Illiana-Power-Show-2021.pdf">
            <div class="showcase-img">
              <img class="box-shadow" src="assets/flyers/Illiana-Power-Show-2021.jpg" />
            </div>
          </a>
        </div>
        <div class="row justify-content-center pb-2">
          <a href="assets/flyers/Illiana-Power-Show-2021.pdf" class="my-btn">View the Flyer</a>
        </div>
        <div class="row justify-content-center pb-5">
          <a [routerLink]="['/blog']" class="my-btn">Read More</a>
        </div>
        <app-images [images]="images"></app-images>
        <div class="row justify-content-center pt-5">
          <a [routerLink]="['/pictures']" class="my-btn">View More Photos</a>
        </div>
      </div>
    </div>
  </section>
</main>
