<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Newsletters</h3>
      </header>
      <div class="page-content">
        <p>Here are our past newsletters from over the years.</p>
        <a [href]="getNewsletterHref(latestNewsletter)" class="my-btn">View our Latest Newsletter ({{monthNames[latestNewsletter.month - 1]}} {{latestNewsletter.year}})</a>
      </div>

      <div class="newsletters" *ngFor="let year of years">
        <h1>{{year}}</h1>
        <table [style.backgroundColor]="colorsByYear.get(year)">
          <tr *ngFor="let row of [1, 2, 3]">
            <td *ngFor="let column of [1, 2, 3, 4]">
              <div *ngIf="!getNewsletter(year, row, column)">
                No {{monthNames[getMonth(row, column) - 1]}} letter
              </div>
              <a *ngIf="getNewsletter(year, row, column)" [href]="getNewsletterHref(getNewsletter(year, row, column))">
                {{monthNames[getNewsletter(year, row, column).month - 1]}} {{year}}
              </a>
            </td>
          </tr>
        </table>
        <br />
      </div>
    </div>
  </section>
</main>
