<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Assembly Hall</h3>
      </header>
      <div class="page-content">
        <h3>Private Events</h3>
        <p>
          Hosting a party, wedding, or other event? The Assembly Hall on the showgrounds is available for rent for
          private events! No alcohol is allowed on the grounds, and events must be family-friendly.
        </p>
        <p>
          If interested, please contact our secretary Deb Dye using the details on our Contact page. Thank you!
        </p>
        <a routerLink="/contact" class="my-btn">Contact Us</a>
      </div>
      <br>
      <br>
	  <h3>Photos</h3>
      <app-images [images]="images"></app-images>
    </div>
  </section>
</main>
