<button type="button" id="mobile-nav-toggle" (click)="toggleNav()">
  <i [className]="navOpen ? 'fa fa-times' : 'fa fa-bars'"></i>
</button>

<header id="header">
  <div class="container-fluid">
    <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/']" class="scrollto">Illiana</a></h1>
    </div>

    <nav #nav id="nav-menu-container">
      <ul class="nav-menu">
        <li
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/']">Home</a>
        </li>
        <li *ngFor="let route of routes" routerLinkActive="menu-active">
          <a [routerLink]="[route.route]" [fragment]="route.fragment">{{
            route.label
          }}</a>
        </li>
        <li class="menu-has-children">
          <a [routerLink]="[]" class="sf-with-ul">Events</a>
          <ul>
            <li *ngFor="let route of eventRoutes">
              <a
                *ngIf="route.route"
                [routerLink]="[route.route]"
                [fragment]="route.fragment"
                >{{ route.label }}</a
              >
              <a *ngIf="route.href" [href]="route.href" target="_blank">{{
                route.label
              }}</a>
            </li>
          </ul>
        </li>
        <li class="menu-has-children">
          <a [routerLink]="[]" class="sf-with-ul">Other</a>
          <ul>
            <li *ngFor="let route of otherRoutes">
              <a
                *ngIf="route.route"
                [routerLink]="[route.route]"
                [fragment]="route.fragment"
                >{{ route.label }}</a
              >
              <a *ngIf="route.href" [href]="route.href" target="_blank"
                >{{ route.label }} <i class="ion-android-open"></i
              ></a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </nav>

    <nav id="mobile-nav" (click)="toggleNav()">
      <ul>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li *ngFor="let route of routes">
          <a [routerLink]="[route.route]">{{ route.label }}</a>
        </li>
        <li class="menu-has-children">
          <a [routerLink]="[]">Events</a>
          <ul>
            <li *ngFor="let route of eventRoutes">
              <a *ngIf="route.route" [routerLink]="[route.route]">{{
                route.label
              }}</a>
              <a *ngIf="route.href" [href]="route.href" target="_blank">
                <div style="display: flex; align-items: center">
                  {{ route.label }}
                  <i class="ion-android-open"></i>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-has-children">
          <a [routerLink]="[]">Other</a>
          <ul>
            <li *ngFor="let route of otherRoutes">
              <a *ngIf="route.route" [routerLink]="[route.route]">{{
                route.label
              }}</a>
              <a *ngIf="route.href" [href]="route.href" target="_blank">
                <div style="display: flex; align-items: center">
                  {{ route.label }}
                  <i class="ion-android-open"></i>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- THe mobile nav always comes with this opverlay. -->
    <!-- So to close it by tapping outside, we need to -->
    <!-- call the toggleNav() whithin this div. -->
    <div
      id="mobile-body-overly"
      [style.display]="navOpen ? 'block' : 'none'"
      (click)="toggleNav()"
      (keydown)="handleKeyDown($event)"
      tabindex="0"
    ></div>
  </div>
</header>
