<button type="button" id="mobile-nav-toggle" (click)="toggleNav()">
  <i [className]="navOpen ? 'fa fa-times' : 'fa fa-bars'"></i>
</button>
<header id="header">
  <div class="container-fluid">
    <div id="logo" class="pull-left">
      <h1><a [routerLink]="['/']" class="scrollto">Illiana</a></h1>
    </div>
    <nav #nav id="nav-menu-container">
      <ul class="nav-menu">
        <li routerLinkActive="menu-active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/blog']">Blog</a>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/newsletters']">Newsletters</a>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/events']">Events</a>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/christmas-in-the-village']">Christmas in the Village</a>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/history-day']">History Day</a>
        </li>
        <li routerLinkActive="menu-active">
          <a [routerLink]="['/map']">Map</a>
        </li>
        <li class="menu-has-children">
          <a [routerLink]="" class="sf-with-ul">Other</a>
          <ul>
            <li>
              <a [routerLink]="['/grant-info']">Grant Info</a>
            </li>
            <li>
              <a [routerLink]="['/pictures']">Pictures</a>
            </li>
            <li>
              <a [routerLink]="['/links']">Links</a>
            </li>
            <li>
              <a href="http://www.rockyforge.org/" target="_blank">Blacksmith Guild</a>
            </li>
            <li>
              <a [routerLink]="['/train']">Train Collectors</a>
            </li>
            <li>
              <a [routerLink]="['/ladies']">Ladies Activities</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/']" fragment="contact">Contact</a>
        </li>
      </ul>
    </nav>
    <nav id="mobile-nav" (click)="toggleNav()">
      <ul>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/blog']">Blog</a>
        </li>
        <li>
          <a [routerLink]="['/newsletters']">Newsletters</a>
        </li>
        <li>
          <a [routerLink]="['/events']">Events</a>
        </li>
        <li>
          <a [routerLink]="['/christmas-in-the-village']">Christmas in the Village</a>
        </li>
        <li>
          <a [routerLink]="['/history-day']">History Day</a>
        </li>
        <li>
          <a [routerLink]="['/map']">Map</a>
        </li>
        <li class="menu-has-children">
          <a [routerLink]="" (click)="collapse($event)">Other</a>
          <ul>
            <li>
              <a [routerLink]="['/grant-info']">Grant Info</a>
            </li>
            <li>
              <a [routerLink]="['/pictures']">Pictures</a>
            </li>
            <li>
              <a [routerLink]="['/links']">Links</a>
            </li>
            <li>
              <a href="http://www.rockyforge.org/" target="_blank">Blacksmith Guild</a>
            </li>
            <li>
              <a [routerLink]="['/train']">Train Collectors</a>
            </li>
            <li>
              <a [routerLink]="['/ladies']">Ladies Activities</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/']" fragment="contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div id="mobile-body-overly" [style.display]="navOpen ? 'block' : 'none'"></div>
  </div>
</header>
