<section id="team">
  <div class="container">
    <div class="section-header">
      <h3>Officers</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Tom Swanson</h4>
              <span>President</span>
              <div class="social">
                <span>(765) 585-8371</span>
                <span><a href="mailto:cfswanson12@aol.com">cfswanson12@aol.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Don Evans</h4>
              <span>Vice President</span>
              <div class="social">
                <span>(217) 759-7215</span>
                <span><a href="mailto:evansd646@aol.com">evansd646@aol.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Alan Stutler</h4>
              <span>Vice President</span>
              <div class="social">
                <span>(765) 404-2027</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Doris Manlief</h4>
              <span>Secretary, Treasurer</span>
              <div class="social">
                <span>(765) 742-4922</span>
                <span><a href="mailto:jmanlief@hotmail.com">jmanlief@hotmail.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
