<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Welcome to History Day!</h3>
      </header>
      <div class="page-content">
        <p>
          We here at Illiana are excited to present to you our first ever Virtual History Day!
          We have created 8 online videos (with more to come) for you to watch at your own pace and learn about key
          areas of our early ways
          of life, ranging from the Post Office and Sawmill to the Printing Press and Blacksmithing.
          Each video was filmed on location at the showgrounds. If you enjoy what you see, come visit us at one of our
          next events!
        </p>
        <p>
          <b>
            To start, simply click the "Begin" button below.
          </b>
          You can also view the History Day videos on our
          <a
            href="https://www.youtube.com/watch?v=L_C8svTrSv0&list=PL0DiJlI4as94ji_U3NxdTst-fWTzpLwwG&index=1&ab_channel=IllianaAntiquePowerAssociation">YouTube
            channel.</a>
        </p>
        <a [routerLink]="['/history-day/post-office']" class="my-btn">Begin</a>
        <br>
        <br>
      </div>
      <div>
        <h3>Credits</h3>
        <div class="events">
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <tr>
                <td>Cameraman, Video Editor, and Drone Operator</td>
                <td>Dave Hobbs</td>
              </tr>
              <tr>
                <td>Main Character</td>
                <td>Dave Sims</td>
              </tr>
              <tr>
                <td>Sawmill Preparer</td>
                <td>Owen Moudy</td>
              </tr>
              <tr>
                <td>Blacksmithing Preparers</td>
                <td>Dominick Andrisani and assistant</td>
              </tr>
              <tr>
                <td>Blacksmithing Organizer</td>
                <td>Ted Stout </td>
              </tr>
              <tr>
                <td>Train Organizer</td>
                <td>Charlie Lupinik</td>
              </tr>
              <tr>
                <td>Antique Car Organizer</td>
                <td>Doc Fontaine</td>
              </tr>
              <tr>
                <td>Gate Man</td>
                <td>Gary York</td>
              </tr>
              <tr>
                <td>Special Thanks</td>
                <td>The Beheler Family (Liam, Callum, Phoebe, Amanda, and Mom)</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="events">
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Video</th>
                  <th scope="col">Presenters</th>
                </tr>
              </thead>
              <tr>
                <td>The Post Office</td>
                <td>Tom Swanson</td>
              </tr>
              <tr>
                <td>Quilting and Spinning</td>
                <td>Kathy Kyle, Becky McCormick, Rita Stringer, Kathy Olin and Liam Beheler</td>
              </tr>
              <tr>
                <td>The Sawmill</td>
                <td>Owen Moudy and Guy</td>
              </tr>
              <tr>
                <td>The Printing Press</td>
                <td>Cecil Krebs</td>
              </tr>
              <tr>
                <td>The Log Cabin</td>
                <td>Tom Swanson</td>
              </tr>
              <tr>
                <td>Blacksmithing</td>
                <td>Dominick Andrisani</td>
              </tr>
              <tr>
                <td>Making Butter</td>
                <td>Peggy Brenner and Phoebe Beheler</td>
              </tr>
              <tr>
                <td>Making Cornbread</td>
                <td>Joan Fry</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="page-content">
        <h3>History Day Photos</h3>
        <br>
        <div class="img-wall">
          <a [routerLink]="['/history-day/post-office']">
            <img src="assets/img/history-day/post-office.jpg" title="The Post Office" />
          </a>
          <a [routerLink]="['/history-day/quilting-and-spinning']">
            <img src="assets/img/history-day/quilting-and-spinning.jpg" title="Quilting and Spinning" />
          </a>
          <a [routerLink]="['/history-day/sawmill']">
            <img src="assets/img/history-day/sawmill.jpg" title="The Sawmill" />
          </a>
          <a [routerLink]="['/history-day/printing-press']">
            <img src="assets/img/history-day/printing-press.jpg" title="The Printing Press" />
          </a>
          <a [routerLink]="['/history-day/log-cabin']">
            <img src="assets/img/history-day/log-cabin.jpg" title="The Log Cabin" />
          </a>
          <a [routerLink]="['/history-day/blacksmithing']">
            <img src="assets/img/history-day/blacksmithing.jpg" title="Blacksmithing" />
          </a>
          <a [routerLink]="['/history-day/making-butter']">
            <img src="assets/img/history-day/making-butter.jpg" title="Making Butter" />
          </a>
          <a [routerLink]="['/history-day/making-corn-bread']">
            <img src="assets/img/history-day/making-corn-bread.jpg" title="Making Corn Bread" />
          </a>
        </div>

      </div>
    </div>
  </section>
</main>
