<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Pictures</h3>
      </header>
      <div style="color: black; text-align: center;">
        <p>Here are some photos from our past events. Photos taken by Dave Eveland.</p>
        <a href="https://www.flickr.com/gp/spudfriend/zt2234" target="_blank">
          <h3>2019 Photos</h3>
        </a>
        <a href="https://flic.kr/s/aHsmFQCWRi" target="_blank">
          <h3>2018 Photos</h3>
        </a>
        <a href="https://flic.kr/s/aHskZR1quP" target="_blank">
          <h3>2017 Photos</h3>
        </a>
        <a href="https://flic.kr/s/aHskDor8PV" target="_blank">
          <h3>2016 Photos</h3>
        </a>
        <a href="https://flic.kr/s/aHskfPFpf9" target="_blank">
          <h3>2015 Photos</h3>
        </a>
        <a href="https://flic.kr/s/aHskg6wU2t" target="_blank">
          <h3>2015 Photos, continued</h3>
        </a>
        <a href="https://flic.kr/s/aHsjZkiRqM" target="_blank">
          <h3>2014 Photos</h3>
        </a>
        <a href="https://flic.kr/s/aHsjH7QedA" target="_blank">
          <h3>2013 Photos</h3>
        </a>
      </div>
    </div>
  </section>
</main>
