<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h4>History Day</h4>
        <h3>The Sawmill</h3>
      </header>
      <div class="page-content">
        <div class="history-day-navigation">
          <a [routerLink]="['/history-day/quilting-and-spinning']" class="my-btn">&lt; Quilting and Spinning</a>
          <a [routerLink]="['/history-day/printing-press']" class="my-btn">The Printing Press &gt;</a>
        </div>
        <div class="iframe-container">
          <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/tzZje4Zn8DY?list=PL0DiJlI4as94ji_U3NxdTst-fWTzpLwwG" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
