<main id="main">
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>Pine Creek & Western Railroad Club</h3>
      </header>

      <div style="color: black; text-align: center;">
        <p>
          The Pine Creek & Western Railroad is located at the Illiana Antique Power Association show grounds.
          The railroad consists of over a half mile of aluminum track.
          Several grades of approximately 3% offer challenges when pulling long trains.
          Approximately half of the railroad passes through forested areas of mature trees.
          A railroad yard with over 200 feet of storage is available for trains.
          The unloading facilities provide for convenient unloading and loading of equipment.
          The unloading table is capable of accommodating very low loads, (16 inches) and can unload equipment from
          heights of 48".
          The unit can handle equipment weighing up to 4000 lb.
          The equipment is then transferred to a turn table where the engineer chooses going to one of the five
          steaming/service bays or going down to the main or yard.
        </p>
      </div>

      <img src="assets/img/railroad1.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/railroad2.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/railroad3.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/railroad4.jpg" style="display: block; margin: auto; max-width: 100%;" />
    </div>
  </section>
</main>
