<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Ladies Activities</h3>
      </header>
      <div class="page-content">
        <p>
          During our annual show each July, the Illiana Quilters are on the
          grounds showing and selling their crafts! Throughout the year, the
          Illiana Quilters meet on the fourth Monday of each month at the
          Assembly Hall at 9:00 AM (except in July and December).
        </p>
        <p>
          For more information, contact Ann Bodine at
          <a href="mailto:abodine1@wildblue.net">abodine1&#64;wildblue.net</a> or
          send a message to the
          <a
            href="https://www.facebook.com/profile.php?id=100081558229300"
            target="_blank"
            >Illiana Quilters Facebook page</a
          >.
        </p>
      </div>
      <app-images [images]="images"></app-images>
    </div>
  </section>
</main>
