<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-8 footer-info">
          <h3>Illiana Antique Power Association</h3>
          <p>
            The Illiana Antique Power Association is a non-profit organization dedicated to the preservation of our
            early rural way of life and the mechanical marvels that changed farming forever.
            The Power Show is held every year during the 3rd weekend of July.
          </p>
        </div>
        <div class="col-lg-4 col-md-8 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i><a routerLink="/">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i><a routerLink="/show-info">Show Information</a></li>
            <li><i class="ion-ios-arrow-right"></i><a routerLink="/events">Event Calendar</a></li>
            <li><i class="ion-ios-arrow-right"></i><a routerLink="/donate">Donate</a></li>
            <li><i class="ion-ios-arrow-right"></i><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-8 footer-contact">
          <h4>Contact Us</h4>
          <p>
            <strong>President:</strong> Kathy Kyle<br>
            <strong>Email: </strong><a href="mailto:president@illianaantiquepower.com">president&#64;illianaantiquepower.com</a><br>
            View contact & location information <a routerLink="/contact">here.</a><br>
          </p>
          <div class="social-links">
            <a href="https://www.facebook.com/illianaantiquepower/" class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCAThPEblu-BHWglNplpWGdA" class="youtube">
              <i class="fa fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright {{currentYear}} <strong>Illiana Antique Power Association</strong>. All rights reserved.
    </div>
    <div class="credits">
      <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
      -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>
