<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Christmas in the Village</h3>
      </header>
      <div class="page-content">
        <h2><b>Friday, December 1 - Saturday, December 2, 2023</b></h2>
        <h2><b>5-8pm daily</b></h2>
        <div class="showcase pb-3">
          <div class="showcase-img">
            <div class="showcase-img">
              <a
                href="assets/flyers/Christmas in the Village 2023.jpg"
                style="margin-left: 0"
              >
                <img
                  class="box-shadow"
                  src="assets/flyers/Christmas in the Village 2023-small.jpg"
                  style="max-height: 300px"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center pb-3">
          <a
            href="assets/flyers/Christmas in the Village 2023.jpg"
            class="my-btn"
            >View the Flyer</a
          >
        </div>
        <p>
          Enjoy the cookies from the kitchen, hot cocoa from the milk house,
          have some chili, mail your letters to Santa, take family photos, ride
          the people mover, stroll down the candlelit pathways, sing along with
          the carolers, visit the quilter's card cottage, the toy maker and sit
          on Santa's lap!
        </p>
        <p>
          Bring your family and enjoy an old fashioned Christmas celebration.
          Remember the way Christmas was "way back when". Make Christmas in the
          Village a family tradition.
        </p>

        <app-images [images]="images"></app-images>
      </div>
    </div>
  </section>
</main>
