<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Christmas in the Village</h3>
      </header>
      <div class="page-content">
        <h2><b>December 3-4, 2021</b></h2>
        <h2>5:00 - 8:00 PM</h2>
        <h2>Showgrounds</h2>

        <p>
          Enjoy the cookies from the kitchen, hot cocoa from the
          milk house, have some chili, mail your letters to Santa, take family photos, ride the people mover, stroll
          down the
          candlelit pathways, sing along with the carolers, visit the quilter's
          card cottage, the toy maker and sit on Santa's lap!</p>
        <p>
          Bring your family and enjoy an old fashioned Christmas celebration.
          Remember the way Christmas was "way back when". Make Christmas in the Village a family tradition.
        </p>

        <app-images [images]="images"></app-images>
      </div>
    </div>
  </section>
</main>
