.my-btn {
  margin-bottom: 30px;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section {
  background: url("/assets/img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 1px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }

  .container {
    position: relative;
    z-index: 10;
  }
}
