<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Map to Grounds</h3>
      </header>
      <div style="color: black; text-align: center;">
        <p>The Illiana Antique Power Association is located south of Boswell, Indiana east of U.S. 41. Turn east on CR
          650 (which becomes Brisco Road). Drive about 2 miles; the showgrounds are located on the north side of Briscoe
          Rd.</p>
        <p>GPS Coordinates: 40.418659, -87.337360</p>
        <a href="https://goo.gl/maps/A46wgG1Vz492" target="_blank">
          <h3>Google Maps Link</h3>
        </a>
        <a href="https://goo.gl/maps/A46wgG1Vz492"><img src="assets/img/map.png" style="max-width: 100%;" /></a>
      </div>
    </div>
  </section>
  <div id="officers-placeholder"></div>
</main>
