<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h4>History Day</h4>
        <h3>Making Butter</h3>
      </header>
      <div class="page-content">
        <p>Presented by: Peggy Brenner and Phoebe Beheler</p>
        <div class="history-day-navigation">
          <a [routerLink]="['/history-day/blacksmithing']" class="my-btn">&lt; Blacksmithing</a>
          <a [routerLink]="['/history-day/making-corn-bread']" class="my-btn">Making Corn Bread &gt;</a>
        </div>
        <div class="iframe-container">
          <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/ipT9AEgiR10?list=PL0DiJlI4as94ji_U3NxdTst-fWTzpLwwG" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
