<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Show Information</h3>
      </header>
      <div class="page-content show-info">
        <div class="pb-3">
          <h1>41st Annual Antique Power Exhibition</h1>
          <h2><b>Friday, July 21st - Sunday, July 23rd, 2023</b></h2>
          <h3 class="font-italic">Featuring: John Deere</h3>
          <h3>944 W. Briscoe Rd., Williamsport, IN</h3>
          <p class="mt-3 mb-3 font-italic">
            For directions, <a href="https://goo.gl/maps/A46wgG1Vz492" target="_blank">click here <i
                class="fa fa-map-marked-alt"></i></a>
          </p>
        </div>
        <div class="showcase pb-5">
          <div class="showcase-img">
            <img class="box-shadow" src="assets/img/show/johndeere.jpg" />
          </div>
          <!-- <div class="showcase-img">
            <a href="assets/flyers/Illiana-Power-Show-2022.pdf" style="margin-left: 0">
              <div class="showcase-img">
                <img class="box-shadow" src="assets/flyers/Illiana-Power-Show-2022.jpg" />
              </div>
            </a>
          </div> -->
        </div>
        <!-- <div class="row justify-content-center pb-5">
          <a href="assets/flyers/Illiana-Power-Show-2022.pdf" class="my-btn">View the Flyer</a>
        </div> -->
        <h3>Gate Fee: $5</h3>
        <p class="font-italic">Chidren 12 and under: FREE</p>
      </div>
      <div>
        <h1>Activities</h1>
        <div class="row activities">
          <div class="col-lg-4 col-md-6 box" *ngFor="let showInfo of aboutShowInfo">
            <h4 class="title"><p>{{showInfo.title}}</p></h4>
            <p class="description">{{showInfo.description}}</p>
          </div>
        </div>
        <!-- <div class="pb-5">
          <h1>Friday, July 15</h1>
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tr>
                <td>Gates Open</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Daily Parade</td>
                <td>2:00 PM</td>
              </tr>
              <tr>
                <td>Gates Close</td>
                <td>6:00 PM</td>
              </tr>
            </table>
          </div>

          <h1>Saturday, July 16</h1>
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tr>
                <td>Gates Open</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Tractor Games</td>
                <td>10:00 AM</td>
              </tr>
              <tr>
                <td>Daily Parade</td>
                <td>2:00 PM</td>
              </tr>
              <tr>
                <td>Gates Close</td>
                <td>6:00 PM</td>
              </tr>
            </table>
          </div>

          <h1>Sunday, July 17</h1>
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tr>
                <td>Gates Open</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Church Service</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Kiddie Pedal Tractor Parade (registration opens)</td>
                <td>11:00 AM</td>
              </tr>
              <tr>
                <td>Kiddie Pedal Tractor Parade</td>
                <td>1:00 PM</td>
              </tr>
              <tr>
                <td>Daily Parade</td>
                <td>2:00 PM</td>
              </tr>
              <tr>
                <td>Gates Close</td>
                <td>3:00 PM</td>
              </tr>
            </table>
          </div>
        </div> -->
      </div>
      <div>
        <h1>Photos</h1>
        <app-images [images]="images"></app-images>
        <div class="row justify-content-center pt-5">
          <a [routerLink]="['/pictures']" class="my-btn">View More Photos</a>
        </div>
      </div>
    </div>
  </section>
</main>
