$illiana-green: #18d26e;

.show-info {
  ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
  }

  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
    width: fit-content;
    margin: auto;

    @media (min-width: 768px) {
      a {
        margin-left: 50px;
      }
    }

    .showcase-img {
      height: 300px;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

.activities {
  .box {
    margin-bottom: 30px;
  }

  .icon {
    float: left;

    i {
      color: $illiana-green;
      font-size: 36px;
      line-height: 1;
      transition: 0.5s;
    }
  }

  .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #111;
  }

  .box:hover .title a {
    color: $illiana-green;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #666;
  }

  p {
    margin: 0;
  }
}
