<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Show Information</h3>
      </header>
      <div class="page-content show-info">
        <div class="pb-3">
          <h1>42nd Annual Antique Power Exhibition</h1>
          <h2><b>Friday, July 18 - Sunday, July 20, 2025</b></h2>
          <h3 class="font-italic pb-4">Featuring: Allis Chalmers Tractors & Waterloo Contract Engines</h3>
          <h3>GPS Address: 986 Briscoe Road, Williamsport, IN</h3>
          <h3>1 mile west of Rainsville, IN</h3>
          <p class="mt-3 mb-3 font-italic">
            For directions,
            <a href="https://goo.gl/maps/A46wgG1Vz492" target="_blank"
              >click here <i class="fa fa-map-marked-alt"></i
            ></a>
          </p>
          <p>
            Notice for exhibitors: please avoid the Big Pine Creek Steel Bridge
            off of N Rocky Ford Rd. It has been repaired and is now too narrow
            for a trailer to cross.
          </p>
        </div>
        <div class="pb-3">
          <div class="showcase-img">
            <img class="box-shadow" src="assets/img/show/allis-chalmers.jpg" />
          </div>
          <!-- <a href="assets/flyers/Illiana-Power-Show-2024.pdf" style="margin-left: 0">
            <div class="showcase-img">
              <img class="box-shadow" src="assets/flyers/Illiana-Power-Show-2024.jpg" />
            </div>
          </a> -->
        </div>
        <!-- <div class="row justify-content-center pb-5">
          <a href="assets/flyers/Illiana-Power-Show-2024.pdf" class="my-btn"
            >View the Flyer</a
          >
        </div> -->
        <div class="pb-3">
          <h3>Gate Fee: $7</h3>
          <p class="font-italic">(Members & children 12 and under: FREE)</p>
        </div>
      </div>
      <div>
        <h1>Activities</h1>
        <div class="row activities">
          <div
            class="col-lg-4 col-md-6 box"
            *ngFor="let showInfo of aboutShowInfo"
          >
            <h4 class="title">
              <p>{{ showInfo.title }}</p>
            </h4>
            <p class="description">{{ showInfo.description }}</p>
          </div>
        </div>
        <!-- <div class="pb-5">
          <h1>Friday, July 15</h1>
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tr>
                <td>Gates Open</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Daily Parade</td>
                <td>2:00 PM</td>
              </tr>
              <tr>
                <td>Gates Close</td>
                <td>6:00 PM</td>
              </tr>
            </table>
          </div>

          <h1>Saturday, July 16</h1>
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tr>
                <td>Gates Open</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Tractor Games</td>
                <td>10:00 AM</td>
              </tr>
              <tr>
                <td>Daily Parade</td>
                <td>2:00 PM</td>
              </tr>
              <tr>
                <td>Gates Close</td>
                <td>6:00 PM</td>
              </tr>
            </table>
          </div>

          <h1>Sunday, July 17</h1>
          <div class="events-table table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tr>
                <td>Gates Open</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Church Service</td>
                <td>8:00 AM</td>
              </tr>
              <tr>
                <td>Kiddie Pedal Tractor Parade (registration opens)</td>
                <td>11:00 AM</td>
              </tr>
              <tr>
                <td>Kiddie Pedal Tractor Parade</td>
                <td>1:00 PM</td>
              </tr>
              <tr>
                <td>Daily Parade</td>
                <td>2:00 PM</td>
              </tr>
              <tr>
                <td>Gates Close</td>
                <td>3:00 PM</td>
              </tr>
            </table>
          </div>
        </div> -->
      </div>
      <!-- <div class="page-content">
        <h3>Quilt Raffle</h3>
        <img class="pb-3" src="assets/img/show/quilt-2023.jpg" style="max-width: 500px" />
        <p>
          Enter the raffle for a chance to win this beautiful quilt, made by the
          Illiana Quilters! Tickets are $1 each or 6 for $5 and will be
          available at the Quilter's Cottage. All proceeds go to support the
          show!
        </p>
      </div> -->
      <div class="pb-5">
        <h1>Photos</h1>
        <app-images [images]="images"></app-images>
        <div class="row justify-content-center pt-5">
          <a [routerLink]="['/pictures']" class="my-btn">View More Photos</a>
        </div>
      </div>
      <div class="page-content">
        <p>
          For questions about the show, including vendor details and camping
          details, please contact us!
        </p>
        <a routerLink="/contact" class="my-btn">Contact Us</a>
      </div>
    </div>
  </section>
</main>
