<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h4>History Day</h4>
        <h3>{{video.title}}</h3>
      </header>
      <div class="page-content">
        <p>Presented by: {{video.presenters}}</p>
        <div class="history-day-navigation">
          <a [routerLink]="['/history-day/' + previousVideo.id]" class="my-btn">&lt; {{previousVideo.title}}</a>
          <a routerLink="/history-day" class="my-btn">Back to Start</a>
          <a [routerLink]="['/history-day/' + nextVideo.id]" class="my-btn">{{nextVideo.title}} &gt;</a>
        </div>
        <div class="iframe-container">
          <iframe
            title="Video Player"
            class="responsive-iframe"
            [src]="videoSafeUrl"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
