<section id="intro">
  <div class="intro-container">
    <app-carousel></app-carousel>
  </div>
</section>

<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>About Us</h3>
        <p>The Illiana Antique Power Association is a non-profit organization dedicated to the preservation
          of our early rural way of life and the mechanical marvels that changed farming forever.</p>
      </header>
      <div class="row about-cols">
        <div class="col-md-3 wow fadeInUp">
          <div class="about-col">
            <div class="img" href="showinfo.html">
              <a href="showinfo.html">
                <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-information-outline"></i></div>
              </a>
            </div>
            <h2 class="title"><a href="showinfo.html">Show Information</a></h2>
            <p>
              Click here to view more information about this year's Power Show. The Power Show is held
              every year during the 3rd weekend of July.
            </p>
          </div>
        </div>
        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <a href="newsletters.html">
                <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </a>
            </div>
            <h2 class="title"><a href="newsletters.html">Newsletters</a></h2>
            <p>
              Click here to view our monthly newsletters.
            </p>
          </div>
        </div>
        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <a href="map.html">
                <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-map"></i></div>
              </a>
            </div>
            <h2 class="title"><a href="map.html">Map</a></h2>
            <p>
              Click here for directions to the Illiana Antique Power Association showgrounds.
            </p>
          </div>
        </div>
        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <a href="grantinfo.html">
                <img src="assets/img/grant.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-cash"></i></div>
              </a>
            </div>
            <h2 class="title"><a href="grantinfo.html">Grant Information</a></h2>
            <p>
              Click here for more information about our projects that have been funded by grants from our community.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <header class="section-header wow fadeInUp">
        <h3>About the Show</h3>
        <p style="padding-bottom: 0px;">
          Every year, we have exhibitors from around the area come to show their antique farm equipment,
          ranging from tractors and mowers to threshers and steam engines.
          There's also several activies to watch like blacksmithing, corn shelling, a running sawmill,
          binding, threshing, and so much more!
        </p>
        <div class="text-center" style="padding-bottom: 30px;"><a href="showinfo.html" class="my-btn">Learn
            More</a></div>
      </header>
      <div class="row">
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <h4 class="title"><a href="showinfo.html">Antique Tractors</a></h4>
          <p class="description">John Deere, Case IH, Ford, Allis Chalmers, and more!</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <h4 class="title"><a href="showinfo.html">Blacksmithing</a></h4>
          <p class="description">Live blacksmiths working metal with anvils and forges!</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <h4 class="title"><a href="showinfo.html">Threshing</a></h4>
          <p class="description">Live threshing demonstrations!</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <h4 class="title"><a href="showinfo.html">Sawmill</a></h4>
          <p class="description">Watch the crew cut logs using the old sawmill!</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <h4 class="title"><a href="showinfo.html">Flea Market</a></h4>
          <p class="description">A large flea market with antiques, tools, clothing, toys...they've got
            everything, really!</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <h4 class="title"><a href="showinfo.html">Train Station</a></h4>
          <p class="description">Stop by one of the train stations to take a ride around the fairgrounds!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">
      <h3>Follow Us on Facebook!</h3>
      <p>Stay up to date with news from our Facebook page. Photos, announcements, monthly meetings, and more!
      </p>
      <a class="cta-btn" href="https://www.facebook.com/illianaantiquepower/">Follow Us</a>
    </div>
  </section>
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h3>Contact Us</h3>
        <p>You can contact our president, Tom Swanson, using the information below, or you can contact one
          of the officers listed above. We will get back with you as soon as possible!</p>
        <p>For questions about the website, please contact our webmaster, Adam Swanson:
          &#097;&#100;&#097;&#109;&#046;&#115;&#119;&#097;&#110;&#115;&#111;&#110;&#046;&#057;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
        </p>
      </div>
      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Showgrounds Address</h3>
            <address>
              Rainsville, IN
            </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p>(765) 585-8371</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:cfswanson12@aol.com">cfswanson12@aol.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
