<section id="team">
  <div class="container">
    <div class="section-header">
      <h3>Board Members</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team/tractors.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Adam Krichbaum</h4>
              <span>President</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team/models.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Alan Stutler</h4>
              <span>1st Vice President</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team/sewing.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Kathy Kyle</h4>
              <span>2nd Vice President</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team/train.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Amanda Hobbs</h4>
              <span>Secretary</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team/blacksmithing.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Deb Dye</h4>
              <span>Treasurer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="assets/img/team/sawmill.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Ted Stout, Kenny Short, Owen Moudy, Shawn Byroad, Don Evans, Clayton Bodine, Charlie Lupinek, Jim
                Manlief</h4>
              <span>Members at Large</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
