<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Events</h3>
      </header>
      <div class="page-content">
        <p>
          Monthly meetings are held on the third Tuesday of each month. All
          interested persons may attend. The annual family membership fee is $20.00. Most meetings are
          held at the assembly hall on the <a [routerLink]="['/map']">showgrounds</a>.
        </p>
      </div>

      <div class="events" *ngFor="let events of eventsMap | keyvalue">
        <h1>{{events.key}}</h1>
        <div class="events-table table-responsive">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tr *ngFor="let event of events.value">
              <td>{{event.title}}</td>
              <td>{{event.date}}</td>
              <td>{{event.time}}</td>
              <td>{{event.location}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
