<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Event Calendar</h3>
      </header>
      <div class="page-content">
        <p>
          <b>Monthly meetings</b> are held on the third Tuesday of each month, with
          potluck starting at 6:30pm and the business meeting starting around
          7:00pm. All interested persons may attend.
        </p>
        <p>The <b>Illiana Quilters</b> meet on the fourth Monday of each month.</p>
        <p>The <b>Annual Power Show</b> is held during the third weekend in July.</p>
        <p><b>Christmas in the Village</b> is held on the Friday and Saturday of the first full weekend in December.</p>
      </div>

      <div class="events" *ngFor="let events of eventsByYear | keyvalue">
        <h1>{{ events.key }}</h1>
        <div class="events-table table-responsive">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tr
              *ngFor="let event of events.value"
              [style]="event.special ? 'font-weight: bold' : ''"
            >
              <td>{{ event.title }}</td>
              <td>{{ toDateRangeString(event) }}</td>
              <td>{{ !event.allDay ? toTimeString(event.startDate) : '' }}</td>
              <td>{{ event.location }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
