<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Event Calendar</h3>
      </header>
      <div class="page-content">
        <p>
          <b>Monthly meetings</b> are held on the third Tuesday of each month,
          with potluck starting at 6:30pm and the business meeting starting
          around 7:00pm. All interested persons may attend.
        </p>
        <p>
          The <b>Illiana Quilters</b> meet on the fourth Monday of each month.
        </p>
        <p>
          The <b>Annual Power Show</b> is held during the third weekend in July.
        </p>
        <p>
          <b>Christmas in the Village</b> is held on the Friday and Saturday of
          the first full weekend in December.
        </p>
      </div>

      <div class="calendar-buttons">
        <add-to-calendar-button
          name="IAPA Main Events"
          label="Add to Calendar: Main Events"
          subscribe="true"
          icsFile="https://calendar.google.com/calendar/ical/c_479774816ca56887319adf6f888a8b10ff0ee41388d6a94d7da5b2debfed0159%40group.calendar.google.com/public/basic.ics"
        />
        <add-to-calendar-button
          name="IAPA Club Meetings"
          label="Add to Calendar: Club Meetings"
          subscribe="true"
          icsFile="https://calendar.google.com/calendar/ical/c_c8c4341b2e2122aec603ee06517ebffd43904717ebaf9f7167b8280198645a64%40group.calendar.google.com/public/basic.ics"
        />

        <add-to-calendar-button
          name="Illiana Quilters"
          label="Add to Calendar: Illiana Quilters"
          subscribe="true"
          icsFile="https://calendar.google.com/calendar/ical/c_44baf83fcbaf94b6504d0883db9a4139a62245d396b543dbfae0171b49aded21%40group.calendar.google.com/public/basic.ics"
        />
      </div>

      <div>
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FIndiana%2FIndianapolis&mode=MONTH&title=Illiana%20Antique%20Power%20Association%20-%20All%20Events&showPrint=0&src=Y19jOGM0MzQxYjJlMjEyMmFlYzYwM2VlMDY1MTdlYmZmZDQzOTA0NzE3ZWJhZjlmNzE2N2I4MjgwMTk4NjQ1YTY0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y180Nzk3NzQ4MTZjYTU2ODg3MzE5YWRmNmY4ODhhOGIxMGZmMGVlNDEzODhkNmE5NGQ3ZGE1YjJkZWJmZWQwMTU5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y180NGJhZjgzZmNiYWY5NGI2NTA0ZDA4ODNkYjlhNDEzOWE2MjI0NWQzOTZiNTQzZGJmYWUwMTcxYjQ5YWRlZDIxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23e4c441&color=%239e69af&color=%237986cb"
          title="Google Calendar showing IAPA events"
          class="events-iframe"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>
  </section>
</main>
