<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Blog</h3>
        <p><b>Note:</b> this blog is no longer updated, but is kept here for historical purposes.</p>
      </header>
      <div class="page-content">
        <div style="text-align: left;">
          @for (post of posts; track post) {
            <div>
              <markdown [src]="post.filePath"></markdown>
              <div class="gap"></div>
            </div>
          }
        </div>
      </div>
    </div>
  </section>
</main>
