<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h4>History Day</h4>
        <h3>The Printing Press</h3>
      </header>
      <div class="page-content">
        <div class="history-day-navigation">
          <a [routerLink]="['/history-day/sawmill']" class="my-btn">&lt; The Sawmill</a>
          <a [routerLink]="['/history-day/log-cabin']" class="my-btn">The Log Cabin &gt;</a>
        </div>
        <div class="iframe-container">
          <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/3CDQgSrFETc?list=PL0DiJlI4as94ji_U3NxdTst-fWTzpLwwG" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
