<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Newsletters</h3>
      </header>
      <div class="page-content">
        <p>Here are our past newsletters from over the years.</p>
        <a href="assets/newsletters/Illiana-News-{{months[latestNewsletter.month - 1]}}-{{latestNewsletter.year}}.{{latestNewsletter.ext}}" class="my-btn">View our Latest Newsletter ({{months[latestNewsletter.month - 1]}} {{latestNewsletter.year}})</a>
      </div>

      <div class="newsletters" *ngFor="let year of years">
        <h1>{{year}}</h1>
        <table [style.backgroundColor]="colorsMap.get(year)">
          <tr *ngFor="let a of [1, 2, 3]">
            <td *ngFor="let b of [1, 2, 3, 4]">
              <div *ngIf="!newslettersMap.get(year + '_' + (4*(a-1)+b))">
                No {{months[(4*(a-1)+b) - 1]}} letter
              </div>
              <a *ngIf="newslettersMap.get(year + '_' + (4*(a-1)+b))" href="assets/newsletters/Illiana-News-{{months[newslettersMap.get(year + '_' + (4*(a-1)+b)).month - 1]}}-{{year}}.{{newslettersMap.get(year + '_' + (4*(a-1)+b)).ext}}">
                {{months[newslettersMap.get(year + '_' + (4*(a-1)+b)).month - 1]}} {{year}}
              </a>
            </td>
          </tr>
        </table>
        <br />
      </div>
    </div>
  </section>
</main>
