.showcase {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-items: center;
  width: fit-content;
  margin: auto;

  .showcase-img {
    height: 300px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
