<section id="intro">
  <div class="intro-container">
    <app-carousel></app-carousel>
  </div>
</section>

<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>About Us</h3>
        <p>The Illiana Antique Power Association is a non-profit organization dedicated to the preservation
          of our early rural way of life and the mechanical marvels that changed farming forever.</p>
      </header>
      <div class="row about-cols">
        <div class="col-md-3" *ngFor="let usInfo of aboutUsInfo">
          <div class="about-col">
            <div class="img">
              <a [routerLink]="usInfo.link">
                <img [attr.src]="usInfo.img" alt="" class="img-fluid">
                <div class="icon"><i [ngClass]="usInfo.icon"></i></div>
              </a>
            </div>
            <h2 class="title"><a [routerLink]="usInfo.link">{{usInfo.title}}</a></h2>
            <p>
              {{usInfo.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="call-to-action">
    <div class="container text-center">
      <h3>Join our mailing list!</h3>
      <p>
        Receive monthly newletters via email by subscribing to our mailing list.
      </p>
      <a class="cta-btn" href="http://eepurl.com/hgJBeP" target="_blank">Subscribe</a>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <header class="about-the-show section-header">
        <h3>About the Show</h3>
        <p>
          Every year, we have exhibitors from around the area come to show their antique farm equipment,
          ranging from tractors and mowers to threshers and steam engines.
          There's also several activites to watch like blacksmithing, corn shelling, a running sawmill,
          binding, threshing, and so much more!
        </p>
        <div class="learn-more text-center">
          <a [routerLink]="['/show-info']" class="my-btn">
            Learn More
          </a>
        </div>
      </header>
      <div class="row">
        <div class="col-lg-4 col-md-6 box" *ngFor="let showInfo of aboutShowInfo">
          <h4 class="title"><a [routerLink]="['/show-info']">{{showInfo.title}}</a></h4>
          <p class="description">{{showInfo.description}}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="call-to-action">
    <div class="container text-center">
      <h3>Follow us on Facebook!</h3>
      <p>Stay up to date with news from our Facebook page. Photos, announcements, monthly meetings, and more!
      </p>
      <a class="cta-btn" href="https://www.facebook.com/illianaantiquepower/" target="_blank">Follow Us</a>
    </div>
  </section>
  <section id="contact" class="section-bg">
    <div class="container">
      <div class="section-header">
        <h3>Contact Us</h3>
        <p class="p-0">For questions about our club or the annual show, please contact our president, Adam Krichbaum, using the information below.</p>
        <p class="p-0">For questions about the website, please contact our webmaster, Adam Swanson:
          &#097;&#100;&#097;&#109;&#046;&#115;&#119;&#097;&#110;&#115;&#111;&#110;&#046;&#057;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
        </p>
        <p class="p-0">We will get back with you as soon as possible!</p>
      </div>
      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Showgrounds</h3>
            <address>
              Rainsville, IN
            </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p>(765) 714-8396</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:cobweb813@gmail.com">cobweb813@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>