<section id="intro">
  <div class="intro-container">
    <app-carousel></app-carousel>
  </div>
</section>

<main id="main">

  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>About Us</h3>
        <p>The Illiana Antique Power Association is a non-profit organization dedicated to the preservation
          of our early rural way of life and the mechanical marvels that changed farming forever.</p>
      </header>
      <div class="row about-cols">
        <div class="col-lg-4" *ngFor="let usInfo of aboutUsInfo">
          <a [routerLink]="usInfo.link">
            <div class="about-col">
              <div class="img">
                <img [attr.src]="usInfo.img" alt="" class="img-fluid">
                <div class="icon"><i [ngClass]="usInfo.icon"></i></div>
              </div>
              <h2 class="title"><a [routerLink]="usInfo.link">{{usInfo.title}}</a></h2>
              <p>
                {{usInfo.description}}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>What do we do?</h3>
        <p>We host a variety of events and activities every year! Click on each event to learn more.</p>
      </header>
      <div class="row about-cols">
        <div class="col-lg-6" *ngFor="let usInfo of eventInfo">
          <a [routerLink]="usInfo.link">
            <div class="about-col">
              <div class="img">
                <img [attr.src]="usInfo.img" alt="" class="img-fluid">
              </div>
              <h2 class="title"><a [routerLink]="usInfo.link">{{usInfo.title}}</a></h2>
              <p>
                {{usInfo.description}}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="call-to-action">
    <div class="container text-center">
      <h3>Join our mailing list!</h3>
      <p>
        Receive monthly newletters via email by subscribing to our mailing list.
      </p>
      <a class="cta-btn" href="http://eepurl.com/hgJBeP" target="_blank">Subscribe</a>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <header class="about-the-show section-header">
        <h3>About our Annual Show</h3>
        <p>
          Every year, we have exhibitors from around the area come to show their antique farm equipment,
          ranging from tractors and mowers to threshers and steam engines.
          There's also several activites to watch like blacksmithing, corn shelling, a running sawmill,
          binding, threshing, and so much more!
        </p>
        <div class="learn-more text-center">
          <a [routerLink]="['/show-info']" class="my-btn">
            Learn More
          </a>
        </div>
      </header>
      <div class="row">
        <div class="col-lg-3 col-md-6 box" *ngFor="let showInfo of aboutShowInfo">
          <h4 class="title"><a [routerLink]="['/show-info']">{{showInfo.title}}</a></h4>
          <p class="description">{{showInfo.description}}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="call-to-action">
    <div class="container text-center">
      <h3>Follow us on Facebook!</h3>
      <p>Stay up to date with news from our Facebook page. Photos, announcements, monthly meetings, and more!
      </p>
      <a class="cta-btn" href="https://www.facebook.com/illianaantiquepower/" target="_blank">Follow Us</a>
    </div>
  </section>

  <section id="membership" class="section-bg">
    <div class="container">
      <div class="section-header">
        <h3>Club Membership</h3>
        <p class="p-0">
          Interested in preserving the history of farming, machinery, engines, and more? Become a member
          today and be a part of a group that's passionate about doing this work. <a [routerLink]="['/contact']">Contact
            us</a> or join us at our next club meeting and
          let us know of your interest in membership!
        </p>
      </div>
    </div>
  </section>

</main>

<app-officers></app-officers>
