<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Donate</h3>
      </header>
      <div class="page-content">
        <p>
          Thank you for considering a donation to the Illiana Antique Power Association! IAPA is a 501(c)(3)
          organization and we benefit greatly from your contributions.
        </p>
        <p>
          To donate by check, please make it out to "IAPA" and mail it to the following address:
        </p>
        <p style="font-weight: bold;">
          IAPA Treasurer
		  <br>
		  10624 Fretz Lane, Lafayette IN 47905
        </p>
		<p>
			If donating in memoriam, please include a note with your donation.
		</p>
		<p>If you have any questions around donations, please email us at <a href="mailto:iapa944w@gmail.com">iapa944w@gmail.com</a></p>
		<p>Thank you!</p>
      </div>
    </div>
  </section>
</main>
