<main id="main">
  <section class="section">
    <div class="container">
      <header class="section-header">
        <h3>Donate</h3>
      </header>
      <div class="page-content">
        <p>
          Thank you for considering a donation to the Illiana Antique Power
          Association! IAPA is a 501(c)(3) organization and we benefit greatly
          from your contributions.
        </p>
        <p>
          To donate by check, please make it out to "IAPA" and mail it to the
          following address:
        </p>
        <p style="font-weight: bold">
          IAPA
          <br />
          P.O. Box 3
          <br />
          Williamsport, IN 47993
        </p>
        <p>
          If donating in memoriam, please include a note with your donation.
        </p>
        <p>
          If you have any questions around donations, please contact our
          treasurer Rita Stringer using the details on our Contact page.
        </p>
        <p>Thank you!</p>
        <a routerLink="/contact" class="my-btn">Contact Us</a>
      </div>
    </div>
  </section>

  <section class="section pb-5">
    <div class="container">
      <header class="section-header">
        <h3>Wish List</h3>
      </header>
      <div class="page-content">
        <p>
          There's no shortage of things we'd love to do and improve with your
          help!
        </p>

        <div class="wishlist">
          <div>
            <h4>New Buildings</h4>
            <ul>
              <li>
                Permanent foundation and building for the Fairbanks engine and
                other hit and miss engines
              </li>
              <li>New shop for the Pine Creek & Western RR</li>
              <li>Building for the loom to have a permanent home</li>
            </ul>
          </div>

          <div>
            <h4>Assembly Hall</h4>
            <ul>
              <li>
                Upgrade the bathrooms: metal dividers for the stalls, tile on
                the floor, and mortar and grout to finish the job
              </li>
              <li>New HVAC sized for the Assembly Hall</li>
              <li>New water heater</li>
              <li>Acoustical tiles for ceiling</li>
              <li>
                Big screen TV to display meeting agenda and minutes for everyone
                to see, and for displaying the daily schedule during the summer
                show
              </li>
              <li>Laptop to use at club meetings</li>
            </ul>
          </div>

          <div>
            <h4>Blacksmiths Building</h4>
            <ul>
              <li>Concrete floor</li>
              <li>Heat and insulation</li>
              <li>Anvils</li>
            </ul>
          </div>

          <div>
            <h4>Grounds Improvements</h4>
            <ul>
              <li>Internet access</li>
              <li>
                Ask the county to blacktop the road to the east parking lot
              </li>
              <li>
                Heaters for each village building during Christmas in the
                Village
              </li>
              <li>Expansion of campground electrical service</li>
              <li>Street lights for Christmas in the Village</li>
              <li>Trenching machine for the club to do their own work</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
