<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Donate</h3>
      </header>
      <div class="page-content">
        <p>
          Thank you for considering a donation to the Illiana Antique Power
          Association! IAPA is a 501(c)(3) organization and we benefit greatly
          from your contributions.
        </p>
        <p>
          To donate by check, please make it out to "IAPA" and mail it to the
          following address:
        </p>
        <p style="font-weight: bold">
          IAPA
          <br />
          P.O. Box 3
          <br />
          Williamsport, IN 47993
        </p>
        <p>
          If donating in memoriam, please include a note with your donation.
        </p>
        <p>
          If you have any questions around donations, please contact our
          treasurer Rita Stringer using the details on our Contact page.
        </p>
        <p>Thank you!</p>
        <a routerLink="/contact" class="my-btn">Contact Us</a>
      </div>
    </div>
  </section>
</main>
