.section {
  background: url("/assets/img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }

  .container {
    position: relative;
    z-index: 10;
  }
}

.wishlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: left;

  h4 {
    margin-bottom: 1rem;
  }

  ul {
    // list-style: none;
    // padding: 0;
    font-size: 1rem;
  }
}
