<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Ladies Activities</h3>
      </header>
      <div class="page-content">
        <p>Contact Ann Bodine at <a href="mailto:abodine1@wildblue.net">abodine1@wildblue.net</a> or Joan Fry at (765)
          363-5406.</p>
      </div>
      <div class="img-wall">
        <img src="assets/img/quilters.jpg" />
        <img src="assets/img/quilters2.jpg" />
        <img src="assets/img/quilters3.jpg" />
        <img src="assets/img/quilters4.jpg" />
        <img src="assets/img/sewlongago.jpg" />
        <img src="assets/img/sewlongago2.jpg" />
        <img src="assets/img/kitchen.jpg" />
        <img src="assets/img/kitchen2.jpg" />
        <img src="assets/img/kitchen3.jpg" />
      </div>
    </div>
  </section>
</main>
