<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Lady's Activities</h3>
      </header>
      <div style="color: black; text-align: center;">
        <p>Contact Ann Bodine at <a href="mailto:abodine1@wildblue.net">abodine1@wildblue.net</a> or Joan Fry at (765)
          363-5406.</p>
      </div>
      <img src="assets/img/quilters.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/quilters2.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/quilters3.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/quilters4.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/sewlongago.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/sewlongago2.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/kitchen.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/kitchen2.jpg" style="display: block; margin: auto; max-width: 100%;" />
      <br />
      <img src="assets/img/kitchen3.jpg" style="display: block; margin: auto; max-width: 100%;" />
    </div>
  </section>
  <div id="officers-placeholder"></div>
</main>
