<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Contact</h3>
      </header>
      <div class="page-content">
		<p>We are located in Rainsville, Indiana. See the <a routerLink="/map">Map page</a> for more location details.</p>
        <h4 style="font-weight: 500">General Information</h4>
        <p style="margin-bottom: 10px">Adam Krichbaum, President</p>
        <p><a href="mailto:iapa944w@gmail.com">iapa944w@gmail.com</a></p>
		<h4 style="font-weight: 500">Camping</h4>
        <p style="margin-bottom: 10px">Adam Krichbaum, President</p>
        <p><a href="mailto:illianacamping@gmail.com">illianacamping@gmail.com</a></p>
        <h4 style="font-weight: 500">Vendors</h4>
        <p style="margin-bottom: 10px">Kathy Kyle, 2nd Vice President</p>
        <p style="margin-bottom: 10px">(&#050;&#049;&#055;)&#032;&#051;&#048;&#052;&#045;&#054;&#053;&#054;&#049;</p>
        <p style="margin-bottom: 10px"><a href="mailto:iapafallfestival@gmail.com">iapafallfestival@gmail.com</a></p>
        <br>
        <h4 style="font-weight: 500">Swap Meet</h4>
        <p style="margin-bottom: 10px">Shawn Byroad</p>
        <p style="margin-bottom: 10px">(&#055;&#054;&#053;)&#032;&#052;&#057;&#048;&#045;&#056;&#052;&#055;&#048;</p>
        <br>
        <h4 style="font-weight: 500">Website, Mailing List</h4>
        <p style="margin-bottom: 10px">Adam Swanson, Webmaster</p>
        <p>
          <a href="mailto:adam.swanson.98@gmail.com">
            &#097;&#100;&#097;&#109;&#046;&#115;&#119;&#097;&#110;&#115;&#111;&#110;&#046;&#057;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
          </a>
        </p>
      </div>
    </div>
  </section>
</main>
