<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Contact</h3>
      </header>
      <div class="page-content">
        <h3 class="mb-3 mt-5">
          GPS Address: 986 Briscoe Road, Williamsport, IN 47993
        </h3>
        <p class="mb-3" style="font-style: italic">
          Note: this is a physical address only. Do not send any mail to this
          address. Thank you!
        </p>
        <h4 class="mb-5">
          <a href="https://goo.gl/maps/A46wgG1Vz492" target="_blank">
            View on Google Maps <i class="fa fa-map-marked-alt"></i>
          </a>
        </h4>
        <p>
          Please contact us using the information below and we will get back
          with you as soon as possible. Thank you!
        </p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Topic</th>
              <th scope="col">Contact Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tr>
            <td>General Information</td>
            <td>Adam Krichbaum (President)</td>
            <td><a href="mailto:iapa944w@gmail.com">iapa944w@gmail.com</a></td>
            <td>-</td>
          </tr>
          <tr>
            <td>Camping</td>
            <td>Adam Krichbaum (President)</td>
            <td><a href="mailto:illianacamping@gmail.com">illianacamping@gmail.com</a></td>
            <td>-</td>
          </tr>
          <tr>
            <td>Vendors</td>
            <td>Kathy Kyle (2nd Vice President)</td>
            <td><a href="mailto:iapafallfestival@gmail.com">iapafallfestival@gmail.com</a></td>
            <td>
              <a href="tel:2173046561">(&#050;&#049;&#055;)&#032;&#051;&#048;&#052;&#045;&#054;&#053;&#054;&#049;</a>
            </td>
          </tr>
          <tr>
            <td>Swap Meet</td>
            <td>Shawn Byroad</td>
            <td>-</td>
            <td>
              <a href="tel:7654908470">(&#055;&#054;&#053;)&#032;&#052;&#057;&#048;&#045;&#056;&#052;&#055;&#048;</a>
            </td>
          </tr>
          <tr>
            <td>Website & Mailing List</td>
            <td>Adam Swanson (Webmaster)</td>
            <td>
              <a href="mailto:&#097;&#100;&#097;&#109;&#046;&#115;&#119;&#097;&#110;&#115;&#111;&#110;&#046;&#057;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#097;&#100;&#097;&#109;&#046;&#115;&#119;&#097;&#110;&#115;&#111;&#110;&#046;&#057;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
            </td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main>
