<main id="main">
  <section id="about">
    <div class="container mb-5">
      <header class="section-header">
        <h3>Mailing Address</h3>
      </header>
      <div class="page-content">
        <h4 class="mb-3 mt-3">
          IAPA <br />
          P.O. Box 3 <br />
          Williamsport, IN 47993
        </h4>
      </div>
    </div>

    <div class="container mb-5">
      <header class="section-header">
        <h3>Showgrounds Address</h3>
      </header>
      <div class="page-content">
        <h4 class="mb-3 mt-3">
          986 Briscoe Road <br />
          Williamsport, IN 47993
        </h4>

        <p class="mb-3" style="font-style: italic">
          Note: this is a physical address only. Do not send any mail to this
          address. Thank you!
        </p>
      </div>
    </div>

    <div class="container">
      <header class="section-header">
        <h3>Contact</h3>
      </header>
      <div class="page-content">
        <p>
          Please contact us using the information below and we will get back
          with you as soon as possible.
        </p>
        <p>
          For donations, please see our <a routerLink="/donate">Donate</a> page.
        </p>
        <p>Thank you!</p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Topic</th>
              <th scope="col">Contact Name</th>
              <th scope="col">Contact Information</th>
              <!-- <th scope="col">Phone</th> -->
            </tr>
          </thead>
          <tr>
            <td>General Information</td>
            <td>Kathy Kyle (President)</td>
            <td>
              <a href="mailto:president@illianaantiquepower.com"
                >president&#64;illianaantiquepower.com</a
              >
            </td>
          </tr>
          <tr>
            <td>Donations</td>
            <td>Rita Stringer (Treasurer)</td>
            <td>
              <a href="mailto:treasurer@illianaantiquepower.com"
                >treasurer&#64;illianaantiquepower.com</a
              >
            </td>
          </tr>
          <tr>
            <td>Assembly Hall</td>
            <td>Kathy Kyle (President)</td>
            <td>
              <a href="mailto:president@illianaantiquepower.com"
                >president&#64;illianaantiquepower.com</a
              >
            </td>
          </tr>
          <tr>
            <td>Camping</td>
            <td>Adam Krichbaum</td>
            <td>
              <a href="mailto:camping@illianaantiquepower.com"
                >camping&#64;illianaantiquepower.com</a
              >
            </td>
          </tr>
          <tr>
            <td>Vendors</td>
            <td>Kathy Kyle (President)</td>
            <td>
              <a href="mailto:president@illianaantiquepower.com"
                >president&#64;illianaantiquepower.com</a
              >
            </td>
          </tr>
          <tr>
            <td>Swap Meet</td>
            <td>Shawn Byroad</td>
            <td>
              <a href="tel:7654908470"
                >(&#055;&#054;&#053;)&#032;&#052;&#057;&#048;&#045;&#056;&#052;&#055;&#048;</a
              >
            </td>
          </tr>
          <tr>
            <td>Website & Mailing List</td>
            <td>Adam Swanson (Webmaster)</td>
            <td>
              <a href="mailto:webmaster@illianaantiquepower.com"
                >webmaster&#64;illianaantiquepower.com</a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main>
