<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Events</h3>
      </header>
      <div style="color: black;">
        <p style="text-align: center;">Monthly meetings are held on the third Monday of each month. All
          interested persons may attend. The annual family membership fee is $20.00. Most meetings are
          held at the <a [routerLink]="['/map']">showgrounds</a>.</p>
        <h1>2020</h1>
        <div class="table-responsive">
          <table class="table table-striped" style="width: 100%;">
            <thead class="thead-light">
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tr>
              <th scope="row">History Day</th>
              <td>TBD</td>
              <td></td>
              <td>Online</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
