<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>A Letter From Our President</h3>
      </header>
      <div class="page-content">
        <h3><b>May 2021</b></h3>
        <p class="letter-body">
          Hello to one and all,
          <br><br>
          I was informed at our May meeting that there were some concerns and questions from non-member exhibitors about
          having to pay $20 to bring an exhibit or to participate in any way in our show. It was certainly not the
          Illiana board of directors' decision to force anyone to join our club. The decision was simply made to better
          protect the exhibitors and Illiana in case of an accident. However, after much discussion about this, and I
          really appreciated everyone's thoughts and comments, I decided to once again touch base with our insurance
          carrier for Illiana.
          <br><br>
          I can tell you as non-members coming to our show to participate that you have three options:
          <br><br>
          1. Join Illiana club for $20/year. I would add here that we would certainly welcome you.
          <br>
          2. If you prefer not to join us, simply bring to the show a copy of your personal liability policy that is
          current and in the amount of no less than $1 million.
          <br>
          3. If, as a non-member, you prefer not to join our club for $20 and you do not have liability insurance on
          yourself for $1 million, then you can simply leave your exhibit home and come as a visitor and pay the $5
          entrance fee.
          <br><br>
          As for the participants, this would include blacksmiths, train operators, sawmill personel, hit-and-miss
          engine exhibitors, tractor exhibitors, auto and truck exhibitors.
          <br><br>
          As your president, I assure you, our Illiana board of directors are not wanting to exclude anyone from coming
          to our show. We are very proud of what we do and the various activities that we provide for the public.
          However, in our litigous world we live in today we must take every precaution to protect you and our club from
          liability in case of an unfortunate accident.
          <br><br>
          <b>Tom Swanson, President</b>
        </p>
      </div>
    </div>
  </section>
</main>
